body {
  background-color: rgb(231, 237, 245);
}

.card {
  display: flex;
  width: 300px;
  margin: 50px 100px;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
}

img {
  width: 6rem;
  padding: 10px;
}
