body {
  background-image: linear-gradient(
    to right top,
    #186be4,
    #1775e5,
    #207fe6,
    #2e89e6,
    #3d92e5
  );
}
.card {
  display: flex;
  width: 300px;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

img {
  width: 6rem;
  padding: 10px;
}
